#root {
 
}
.layout{
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.navbar{ 
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #144800;
  color: #fff;
  padding: 0 20px 0 20px;

}
.navbar-sub > a{
  color: aliceblue;
}
/* sidebar */
.sidebar{
  background-color: #fff;
  color: #000;
  padding: 80px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}
.sidebar-items{
  display: flex;
  flex-direction: column;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  
  margin: 20px 20px 20px 20px;
}
/* Dashboard */
.card{
  border-radius: 10px;                  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
background-color: #fff;
  color: #000;
  width: 250px;
}
.btn-wrapper{
  display: flex;
  justify-content: space-around;
}
.btn{
   display: inline-block;
  background: #144800;
  color: #fff;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.25s ease;
  margin-bottom: 40px;
}
.btn:hover{
   background: #144800;
  transform: translateY(-2px);
  box-shadow: 0px 6px 18px rgba(0,0,0,0.15);
}
/* Form */
.flex-col{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  gap: 100px;
  margin-right: 60px;
  margin-bottom: 20px;
}
.input{
  background-color: #E6E6FA;
  color: #000;
  padding: 20px;
  width: 400px;
}
/* Footer */
  .footer{
      background-color: #144800;
      padding: 20px;
      text-align: center;

  }
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
